*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
h1{
    color: white;
}

body{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: black;
}

.claro{
    margin-top: 50px;
}